In [184]:
import pandas as pd

In [185]:
d_A = 'the man went out for a walk'
d_B = 'the children sat around the fire'

In [186]:
BOW_A=d_A.split()
print(BOW_A)

['the', 'man', 'went', 'out', 'for', 'a', 'walk']

In [187]:
BOW_B=d_B.split()
print(BOW_B)

['the', 'children', 'sat', 'around', 'the', 'fire']

In [188]:
words = set(BOW_A).union(set(BOW_B))
print(words)

{'around', 'sat', 'for', 'out', 'the', 'walk', 'went', 'children', 'fire', 'man', 'a'}

In [189]:
dictA=dict.fromkeys(words,0)
#print(dictA)
for w in BOW_A:
    dictA[w]+=1
print(dictA)

{'around': 0, 'sat': 0, 'for': 1, 'out': 1, 'the': 1, 'walk': 1, 'went': 1, 'children': 0, 'fire': 0, 'man': 1, 'a': 1}

In [190]:
dictB=dict.fromkeys(words,0)
#print(dictB)
for w in BOW_B:
    dictB[w]+=1
print(dictB)

{'around': 1, 'sat': 1, 'for': 0, 'out': 0, 'the': 2, 'walk': 0, 'went': 0, 'children': 1, 'fire': 1, 'man': 0, 'a': 0}

In [191]:
def TF (dict_word,BOW):
    dict_tf={}
    count_BOW=len(BOW)
    for w , c in dict_word.items():
        dict_tf[w] = c / float(count_BOW)
    return dict_tf

In [192]:
tfA = TF(dictA,BOW_A)
tfA

{'around': 0.0,
 'sat': 0.0,
 'for': 0.14285714285714285,
 'out': 0.14285714285714285,
 'the': 0.14285714285714285,
 'walk': 0.14285714285714285,
 'went': 0.14285714285714285,
 'children': 0.0,
 'fire': 0.0,
 'man': 0.14285714285714285,
 'a': 0.14285714285714285}

In [193]:
tfB = TF(dictB,BOW_B)
tfB

{'around': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'for': 0.0,
 'out': 0.0,
 'the': 0.3333333333333333,
 'walk': 0.0,
 'went': 0.0,
 'children': 0.16666666666666666,
 'fire': 0.16666666666666666,
 'man': 0.0,
 'a': 0.0}

In [194]:
def IDF(docs):
    import math
    n=len(docs)
    idf_dict= dict.fromkeys(docs[0].keys(),0)
    for doc in docs:
        for word,val in doc.items():
            if val > 0 :
                idf_dict[word] += 1
    for word , val in idf_dict.items():
        idf_dict[word]= math.log(n/float(val))

    return idf_dict

In [195]:
idf = IDF([dictA, dictB])
idf

{'around': 0.6931471805599453,
 'sat': 0.6931471805599453,
 'for': 0.6931471805599453,
 'out': 0.6931471805599453,
 'the': 0.0,
 'walk': 0.6931471805599453,
 'went': 0.6931471805599453,
 'children': 0.6931471805599453,
 'fire': 0.6931471805599453,
 'man': 0.6931471805599453,
 'a': 0.6931471805599453}

In [196]:
def TF_IDF(tf,idf):
    tfidf={}
    for word , val in tf.items():
        tfidf[word]=val * idf[word]
    return tfidf

In [197]:
tfidfA = TF_IDF(tfA,idf)
tfidfA

{'around': 0.0,
 'sat': 0.0,
 'for': 0.09902102579427789,
 'out': 0.09902102579427789,
 'the': 0.0,
 'walk': 0.09902102579427789,
 'went': 0.09902102579427789,
 'children': 0.0,
 'fire': 0.0,
 'man': 0.09902102579427789,
 'a': 0.09902102579427789}

In [198]:
tfidfB = TF_IDF(tfB,idf)
tfidfB

{'around': 0.11552453009332421,
 'sat': 0.11552453009332421,
 'for': 0.0,
 'out': 0.0,
 'the': 0.0,
 'walk': 0.0,
 'went': 0.0,
 'children': 0.11552453009332421,
 'fire': 0.11552453009332421,
 'man': 0.0,
 'a': 0.0}

In [199]:
df=pd.DataFrame([tfidfA,tfidfB])
df

,around,sat,for,out,the,walk,went,children,fire,man,a
0,0.000000,0.000000,0.099021,0.099021,0.0,0.099021,0.099021,0.000000,0.000000,0.099021,0.099021
1,0.115525,0.115525,0.000000,0.000000,0.0,0.000000,0.000000,0.115525,0.115525,0.000000,0.000000

In [98]:
from sklearn . feature_extraction.text import TfidfVectorizer
vectorizer  = TfidfVectorizer()
tfidf_sk = vectorizer.fit_transform([d_A, d_B])
print(tfidf_sk)

  (0, 8)	0.42615959880289433
  (0, 3)	0.42615959880289433
  (0, 5)	0.42615959880289433
  (0, 9)	0.42615959880289433
  (0, 4)	0.42615959880289433
  (0, 7)	0.3032160644503863
  (1, 2)	0.40740123733358447
  (1, 0)	0.40740123733358447
  (1, 6)	0.40740123733358447
  (1, 1)	0.40740123733358447
  (1, 7)	0.5797386715376657

In [99]:
name = vectorizer.get_feature_names()
print(name)

['around', 'children', 'fire', 'for', 'man', 'out', 'sat', 'the', 'walk', 'went']

In [100]:
#Return a dense matrix representation of this matrix
dense = tfidf_sk.todense()
dense

matrix([[0.        , 0.        , 0.        , 0.4261596 , 0.4261596 ,
         0.4261596 , 0.        , 0.30321606, 0.4261596 , 0.4261596 ],
        [0.40740124, 0.40740124, 0.40740124, 0.        , 0.        ,
         0.        , 0.40740124, 0.57973867, 0.        , 0.        ]])

In [101]:
d_list = dense.tolist()
print(d_list)

[[0.0, 0.0, 0.0, 0.42615959880289433, 0.42615959880289433, 0.42615959880289433, 0.0, 0.3032160644503863, 0.42615959880289433, 0.42615959880289433], [0.40740123733358447, 0.40740123733358447, 0.40740123733358447, 0.0, 0.0, 0.0, 0.40740123733358447, 0.5797386715376657, 0.0, 0.0]]

In [102]:
df= pd .DataFrame(d_list,columns=name)
df

,around,children,fire,for,man,out,sat,the,walk,went
0,0.000000,0.000000,0.000000,0.42616,0.42616,0.42616,0.000000,0.303216,0.42616,0.42616
1,0.407401,0.407401,0.407401,0.00000,0.00000,0.00000,0.407401,0.579739,0.00000,0.00000

In [103]:
# Example:
import pandas as pd 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

In [104]:
data = pd.read_csv("Questions.csv")
data.head()

,Unnamed: 0,Id,OwnerUserId,CreationDate,Score,Title,Body
0,0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [105]:
X=data["Title"]
y=data["Score"]

In [106]:
model = TfidfVectorizer()
X_vec =model.fit_transform(X)
X_vec = pd.DataFrame.sparse.from_spmatrix(X_vec)

In [107]:
X_vec.shape

(10000, 6870)

In [108]:
X_vec.head()

,0,1,2,3,4,5,6,7,8,9,...,6860,6861,6862,6863,6864,6865,6866,6867,6868,6869
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
for i in range(5):
    t =sorted(list(X_vec.iloc[i,:]),reverse= True)[:20]
    print(t)
    print("-------------------------------------------------------------------------")

[0.422178222176151, 0.3716395905037442, 0.32955184359276674, 0.32666367121717127, 0.3035936514537762, 0.28427933869442007, 0.27713713250250954, 0.2615059045427987, 0.18645448981827298, 0.18597326273423462, 0.17584122839792515, 0.14999446597627894, 0.12187283198225851, 0.11197776573544506, 0, 0, 0, 0, 0, 0]
-------------------------------------------------------------------------
[0.5426412233100997, 0.5289190014000659, 0.4187346787909365, 0.2942839268145828, 0.27016796115062247, 0.2329935255908615, 0.19122427073824194, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
-------------------------------------------------------------------------
[0.5645125193070204, 0.5215694064886434, 0.4786262936702665, 0.3573365447207418, 0.20580239279118884, 0.10081572147562867, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
-------------------------------------------------------------------------
[0.5090625627208644, 0.45228021334724877, 0.45228021334724877, 0.3752194639691171, 0.33991401883074684, 0.22478750070301515, 0.15773369219653524, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
-------------------------------------------------------------------------
[0.49545501901989014, 0.4017251355893547, 0.3767557017869033, 0.3688488495096409, 0.35419360075396095, 0.2623900054302421, 0.22779365299689125, 0.19507232588073126, 0.14311257279773454, 0.10208288800026773, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
-------------------------------------------------------------------------

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X_vec,y ,test_size =0.3 ,random_state =42 )

In [111]:
#TF-IDF in Arabic

In [200]:
d_A = 'ذهب محمد الي الجامعة ليدرس الفيزياء و الكيمياء'
d_B = 'ذاكرت مني الرياضيات و الفيزياء في الجامعة'

In [201]:
BOW_A=d_A.split()
print(BOW_A)

['ذهب', 'محمد', 'الي', 'الجامعة', 'ليدرس', 'الفيزياء', 'و', 'الكيمياء']

In [202]:
BOW_B=d_B.split()
print(BOW_B)

['ذاكرت', 'مني', 'الرياضيات', 'و', 'الفيزياء', 'في', 'الجامعة']

In [203]:
words = set(BOW_A).union(set(BOW_B))
print(words)

{'مني', 'الرياضيات', 'ليدرس', 'الكيمياء', 'الي', 'و', 'ذهب', 'محمد', 'الفيزياء', 'ذاكرت', 'في', 'الجامعة'}

In [204]:
dictA=dict.fromkeys(words,0)
#print(dictA)
for w in BOW_A:
    dictA[w]=+1
print(dictA)

{'مني': 0, 'الرياضيات': 0, 'ليدرس': 1, 'الكيمياء': 1, 'الي': 1, 'و': 1, 'ذهب': 1, 'محمد': 1, 'الفيزياء': 1, 'ذاكرت': 0, 'في': 0, 'الجامعة': 1}

In [205]:
dictB=dict.fromkeys(words,0)
#print(dictB)
for w in BOW_B:
    dictB[w]=+1
print(dictB)

{'مني': 1, 'الرياضيات': 1, 'ليدرس': 0, 'الكيمياء': 0, 'الي': 0, 'و': 1, 'ذهب': 0, 'محمد': 0, 'الفيزياء': 1, 'ذاكرت': 1, 'في': 1, 'الجامعة': 1}

In [206]:
def TF (dict_word,BOW):
    dict_tf={}
    count_BOW=len(BOW)
    for w , c in dict_word.items():
        dict_tf[w] = c / float(count_BOW)
    return dict_tf

In [207]:
tfA = TF(dictA,BOW_A)
tfA

{'مني': 0.0,
 'الرياضيات': 0.0,
 'ليدرس': 0.125,
 'الكيمياء': 0.125,
 'الي': 0.125,
 'و': 0.125,
 'ذهب': 0.125,
 'محمد': 0.125,
 'الفيزياء': 0.125,
 'ذاكرت': 0.0,
 'في': 0.0,
 'الجامعة': 0.125}

In [208]:
tfB = TF(dictB,BOW_B)
tfB

{'مني': 0.14285714285714285,
 'الرياضيات': 0.14285714285714285,
 'ليدرس': 0.0,
 'الكيمياء': 0.0,
 'الي': 0.0,
 'و': 0.14285714285714285,
 'ذهب': 0.0,
 'محمد': 0.0,
 'الفيزياء': 0.14285714285714285,
 'ذاكرت': 0.14285714285714285,
 'في': 0.14285714285714285,
 'الجامعة': 0.14285714285714285}

In [209]:
def IDF(docs):
    import math
    n=len(docs)
    idf_dict= dict.fromkeys(docs[0].keys(),0)
    for doc in docs:
        for word,val in doc.items():
            if val > 0 :
                idf_dict[word] += 1
    for word , val in idf_dict.items():
        idf_dict[word]= math.log(n/float(val))

    return idf_dict

In [210]:
idf = IDF([dictA, dictB])
idf

{'مني': 0.6931471805599453,
 'الرياضيات': 0.6931471805599453,
 'ليدرس': 0.6931471805599453,
 'الكيمياء': 0.6931471805599453,
 'الي': 0.6931471805599453,
 'و': 0.0,
 'ذهب': 0.6931471805599453,
 'محمد': 0.6931471805599453,
 'الفيزياء': 0.0,
 'ذاكرت': 0.6931471805599453,
 'في': 0.6931471805599453,
 'الجامعة': 0.0}

In [211]:
def TF_IDF(tf,idf):
    tfidf={}
    for word , val in tf.items():
        tfidf[word]=val * idf[word]
    return tfidf

In [213]:
tfidfA = TF_IDF(tfA,idf)
tfidfA

{'مني': 0.0,
 'الرياضيات': 0.0,
 'ليدرس': 0.08664339756999316,
 'الكيمياء': 0.08664339756999316,
 'الي': 0.08664339756999316,
 'و': 0.0,
 'ذهب': 0.08664339756999316,
 'محمد': 0.08664339756999316,
 'الفيزياء': 0.0,
 'ذاكرت': 0.0,
 'في': 0.0,
 'الجامعة': 0.0}

In [212]:
tfidfB = TF_IDF(tfB,idf)
tfidfB

{'مني': 0.09902102579427789,
 'الرياضيات': 0.09902102579427789,
 'ليدرس': 0.0,
 'الكيمياء': 0.0,
 'الي': 0.0,
 'و': 0.0,
 'ذهب': 0.0,
 'محمد': 0.0,
 'الفيزياء': 0.0,
 'ذاكرت': 0.09902102579427789,
 'في': 0.09902102579427789,
 'الجامعة': 0.0}

In [214]:
df=pd.DataFrame([tfidfA,tfidfB])
df

,مني,الرياضيات,ليدرس,الكيمياء,الي,و,ذهب,محمد,الفيزياء,ذاكرت,في,الجامعة
0,0.000000,0.000000,0.086643,0.086643,0.086643,0.0,0.086643,0.086643,0.0,0.000000,0.000000,0.0
1,0.099021,0.099021,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.099021,0.099021,0.0

In [215]:
from sklearn . feature_extraction.text import TfidfVectorizer
vectorizer  = TfidfVectorizer()
tfidf_sk = vectorizer.fit_transform([d_A, d_B])
print(tfidf_sk)

  (0, 3)	0.4078241041497786
  (0, 2)	0.29017020899133733
  (0, 8)	0.4078241041497786
  (0, 0)	0.29017020899133733
  (0, 4)	0.4078241041497786
  (0, 9)	0.4078241041497786
  (0, 6)	0.4078241041497786
  (1, 7)	0.4466561618018052
  (1, 1)	0.4466561618018052
  (1, 10)	0.4466561618018052
  (1, 5)	0.4466561618018052
  (1, 2)	0.31779953783628945
  (1, 0)	0.31779953783628945

In [216]:
name = vectorizer.get_feature_names()
print(name)

['الجامعة', 'الرياضيات', 'الفيزياء', 'الكيمياء', 'الي', 'ذاكرت', 'ذهب', 'في', 'ليدرس', 'محمد', 'مني']

In [217]:
#Return a dense matrix representation of this matrix
dense = tfidf_sk.todense()
dense

matrix([[0.29017021, 0.        , 0.29017021, 0.4078241 , 0.4078241 ,
         0.        , 0.4078241 , 0.        , 0.4078241 , 0.4078241 ,
         0.        ],
        [0.31779954, 0.44665616, 0.31779954, 0.        , 0.        ,
         0.44665616, 0.        , 0.44665616, 0.        , 0.        ,
         0.44665616]])

In [218]:
d_list = dense.tolist()
print(d_list)

[[0.29017020899133733, 0.0, 0.29017020899133733, 0.4078241041497786, 0.4078241041497786, 0.0, 0.4078241041497786, 0.0, 0.4078241041497786, 0.4078241041497786, 0.0], [0.31779953783628945, 0.4466561618018052, 0.31779953783628945, 0.0, 0.0, 0.4466561618018052, 0.0, 0.4466561618018052, 0.0, 0.0, 0.4466561618018052]]

In [219]:
df= pd .DataFrame(d_list,columns=name)
df

,الجامعة,الرياضيات,الفيزياء,الكيمياء,الي,ذاكرت,ذهب,في,ليدرس,محمد,مني
0,0.29017,0.000000,0.29017,0.407824,0.407824,0.000000,0.407824,0.000000,0.407824,0.407824,0.000000
1,0.31780,0.446656,0.31780,0.000000,0.000000,0.446656,0.000000,0.446656,0.000000,0.000000,0.446656