In [1]:
%%writefile question.txt
what is your name ?
can i help you ?

Writing question.txt

In [2]:
file = open("question.txt")

In [3]:
file.read()

'what is your name ?\ncan i help you ?\n'

In [4]:
file.read()

''

In [5]:
file.seek(0)

0

In [6]:
file.read()

'what is your name ?\ncan i help you ?\n'

In [8]:
file.seek(0)

0

In [9]:
file.readlines()

['what is your name ?\n', 'can i help you ?\n']

In [10]:
file.read()

''

In [11]:
file.close()

### ----

In [13]:
file1=open("question.txt","w+")

In [15]:
file1.write("hi , my name in maryam , thanks")

31

In [16]:
file1.read()

''

In [17]:
file1.seek(0)

0

In [19]:
file1.read()

'hi , my name in maryam , thanks'

In [20]:
file1.seek(0)

0

In [21]:
file1.readlines()

['hi , my name in maryam , thanks']

In [22]:
file1.close()

In [25]:
file2=open("welcome.txt",'w+')

In [26]:
file2.write("hi,,")

4

In [27]:
file2.read()

''

In [28]:
file2.seek(0)

0

In [29]:
file2.read()

'hi,,'

In [30]:
file2.close()

In [31]:
file3=open ("question.txt","a+")

In [32]:
file3.write("\ni'm very happy !")

17

In [33]:
file3.read()

''

In [34]:
file3.seek(0)

0

In [35]:
file3.read()

"hi , my name in maryam , thanks\ni'm very happy !"

In [36]:
file3.close()

### ---

In [37]:
%%writefile -a question.txt
what is your name ?
can i help you ?

Appending to question.txt

In [38]:
file4=open("question.txt")

In [39]:
file4.read()

"hi , my name in maryam , thanks\ni'm very happy !what is your name ?\ncan i help you ?\n"

In [40]:
file4.seek(0)
file4.readlines()

['hi , my name in maryam , thanks\n',
 "i'm very happy !what is your name ?\n",
 'can i help you ?\n']

In [42]:
with open("question.txt","r") as file5:
    first= file5.readlines()[0]
    
print(first)

hi , my name in maryam , thanks

In [44]:
with open("question.txt","r") as file5:
    for i in file5.readlines():
        print(i)

hi , my name in maryam , thanks

i'm very happy !what is your name ?

can i help you ?

### csv --

In [54]:
import pandas as pd

In [57]:
data=pd.read_csv("data.csv", skiprows= 2)
data.head(10)

   60.0  103.0  135.0  340.0
0  45.0  109.0  175.0  282.4
1  45.0  117.0  148.0  406.0
2  60.0  102.0  127.0  300.0
3  60.0  110.0  136.0  374.0
4  45.0  104.0  134.0  253.3
5  30.0  109.0  133.0  195.1
6  60.0   98.0  124.0  269.0
7  60.0  103.0  147.0  329.3
8  60.0  100.0  120.0  250.7
9  60.0  106.0  128.0  345.3

In [ ]:
#data=pd.read_excel("data.xls", skiprows= 2)

In [58]:
file=open ("file.csv","w+")
file.write("a,b,c")
file.close()

In [59]:
file=open ("file.csv")
file.read()
file.close()

'a,b,c'

In [60]:
file=open ("file.xls","w+")
file.write("a,b,c")
file.close()

In [61]:
import numpy as np
data=pd.DataFrame(pd.Series(np.random.rand(1000)))
data.head()

          0
0  0.036442
1  0.287549
2  0.835428
3  0.923164
4  0.881066

In [63]:
data.to_csv("d.csv")

### arabic

In [ ]:
# encoding ="utf8"

In [65]:
file=open ("file1.csv","w+",encoding ="utf8")
file.write("اهلا وسهلا")
file.close()